<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Pelicula
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar #searchbar placeholder="Buscar Pelicula" animated="ios" inputmode="text" (ionInput)="buscar($event)"
    [debounce]="700" showCancelButton="always" [(ngModel)]="textoBuscado"></ion-searchbar>
</ion-toolbar>

<ion-content>

  <ion-grid>
    <ion-row justify-content-center>
      <ion-col class="center-spinner">
        <ion-spinner name="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-slideshow-poster [peliculasRecientesEnComponentePoster]="peliculasBuscadas"></app-slideshow-poster>


  <ion-list>
    <ion-list-header>
      <ion-label>Sugerencias</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let idea of ideas" (click)="elegirIdea(idea)">
      <ion-label>{{idea}}</ion-label>
    </ion-item>
  </ion-list>









</ion-content>