<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Favoritos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--   <app-slideshow-poster [peliculasRecientesEnComponentePoster]='peliculasFavoritas'> </app-slideshow-poster> -->

  <div *ngFor="let generoYpeli of favoritasPorGeneroGlobal">
    <ion-grid fixed *ngIf="generoYpeli.peliculas.length>0">
      <ion-row>

        <ion-col>
          <h4>{{generoYpeli.genero}}</h4>
        </ion-col>

      </ion-row>
      <app-slideshow-poster [peliculasRecientesEnComponentePoster]='generoYpeli.peliculas'> </app-slideshow-poster>
    </ion-grid>


  </div>

</ion-content>